# Node
node_modules
apps/LogicHinter/frontend/node_modules
apps/LogicHinter/frontend/dist
apps/LogicHinter/backend/node_modules
apps/StudyHinter/backend/node_modules

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.env
.venv

# OS
.DS_Store